h1 {
  background-color: rgb(159, 160, 154);
  border: slateblue 2px solid;
  border-radius: 5px;
}
.firstPara {
  background-color: bisque;
  border: slateblue 2px solid;
  border-radius: 5px;
}
.secondPara {
  background-color: rgb(197, 167, 156);
  border: slateblue 2px solid;
  border-radius: 5px;
}
.thirdPara {
  background-color: rgba(0, 255, 255, 0.452);
  border: slateblue 2px solid;
  border-radius: 5px;
}
.fourthPara {
  background-color: lightgreen;
  border: slateblue 2px solid;
  border-radius: 5px;
}

span {
  font-size: 20px;
  color: green;
  display: block;   /* HW: make span behave like block element*/
  width: 350px;
  height: 100px;
  background-color: mistyrose;
  border: slateblue 2px solid;
  border-radius: 5px;
}
