*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    padding: 10px;
    width: 100vw;
    height: 100vh;
    border: 1px solid grey;
    background-color: rgb(148, 46, 46);
}

.containerItems{
    width: 100%;
    height: 100%;
    display: grid;
    grid:  repeat(3, 1fr)/ auto-flow;
    gap: 10px;
}

.firstContainer{
    background-color: rgb(246, 179, 107);
}
.secondContainer{
    background-color: lightblue;
}
.thirdContainer{
    background-color: lightgreen;
}
.fourthContainer{
    background-color: lightcoral;
}
.fifthContainer{
    background-color: lightsalmon;
}
.sixthContainer{
    background-color: lightyellow;
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    padding: 10px;
    width: 100vw;
    height: 100vh;
    border: 1px solid grey;
    background-color: rgb(148, 46, 46);
}

.containerItems{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    grid-template-areas: "one one two three"
                         "four five six  ."
                         "seven seven eight nine"
                         "seven seven ten ."
                         "eleven eleven eleven twelve";
}

.firstContainer{
    grid-area: one;
    background-color: rgb(246, 179, 107);
}
.secondContainer{
    grid-area: two;
    background-color: lightblue;
}
.thirdContainer{
    grid-area: three;
    background-color: lightgreen;
}
.fourthContainer{
    grid-area: four;
    background-color: lightcoral;
}
.fifthContainer{
    grid-area: five;
    background-color: lightsalmon;
}
.sixthContainer{
    grid-area: six;
    background-color: lightyellow;
}
.seventhContainer{
    grid-area: seven;
    background-color: lightpink;
}
.eighthContainer{
    grid-area: eight;
    background-color: lightseagreen;
}
.ninthContainer{
    grid-area: nine;
    background-color: lightskyblue;
}
.tenthContainer{
    grid-area: ten;
    background-color: lightsteelblue;
}
.eleventhContainer{
    grid-area: eleven;
    background-color: lightslategray;
}
.twelfthContainer{
    grid-area: twelve;
    background-color: lightcyan;
}