*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    padding: 10px;
    width: 100vw;
    height: 100vh;
    border: 1px solid grey;
    background-color: rgb(148, 46, 46);
}

.containerItems{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas:
    "header header one"
    "two    three  one";
}

.firstContainer{
    grid-area: header;
    background-color: rgb(246, 179, 107);
}
.secondContainer{
    grid-area: one;
    background-color: lightblue;
}
.thirdContainer{
    grid-area: two;
    background-color: lightgreen;
}
.fourthContainer{
    grid-area: three;
    background-color: lightcoral;
}