* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container1 {
  width: 500px;
  height: 500px;
  margin: 10px;
  background-color: #90d32c21;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}

#box1 {
  width: 150px;
  height: 150px;
  border: 4px solid black;
  background-color: rgb(4, 4, 65);

  position: absolute;
  top: 120px;
  left: 350px;

  /* opacity: 0.5; */
  /* z-index: 0; */

  animation-name: bringToFront;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

#box2 {
  width: 150px;
  height: 150px;
  border: 4px solid black;
  background-color: rgb(85, 9, 31);

  position: relative;
  top: 180px;
  left: 150px;

  /* z-index: 1; */
}

@keyframes bringToFront {
  /* Initial state */
  from {
    opacity: 0.5;
    z-index: 0;
  }

  /* Final state */
  to {
    opacity: 1;
    z-index: 2;
  }
}

.container2 {
  width: 500px;
  height: 500px;
  margin: 10px;
  background-color: #e0edcc21;
  border: 3px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#box3 {
  width: 150px;
  height: 150px;
  /* border: 4px solid black; */
  background-color: rgb(196, 32, 14);

  animation-name: jumpAbove;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes jumpAbove {
    /* Start at bottom */
  0% {
    transform: translateY(0);
  }

  /* Move up : -ve reflects upward motion */
  40% {
    transform: translateY(-150px);
    width: 130px;
    height: 170px;
  }

  /* Pause at bottom */
  75% {
    transform: translateY(0px);
  }

  /* Move up a little for small jump*/
  80% {
    transform: translateY(-10px);
  }

  /* Move back up */
  100% {
    transform: translateY(0);
  }
}

