*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    padding: 10px;
    width: 100vw;
    height: 100vh;
    border: 1px solid grey;
    background-color: rgb(148, 46, 46);
}

.containerItems{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "firstContainer secondContainer"
                         "thirdContainer fourthContainer";
    gap: 10px;
}

.firstContainer{
    grid-area: firstContainer;
    background-color: rgb(246, 179, 107);
}
.secondContainer{
    grid-area: secondContainer;
    background-color: lightblue;
}
.thirdContainer{
    grid-area: thirdContainer;
    background-color: lightgreen;
}
.fourthContainer{
    padding: 10px;
    grid-area: fourthContainer;
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "subcontainer1 subcontainer1"
                         "subcontainer2 subcontainer3";
    gap: 10px;
}
.subcontainer1{
    grid-area: subcontainer1;
    background-color: lightsalmon;
}
.subcontainer2{
    grid-area: subcontainer2;
    background-color: lightyellow;
}
.subcontainer3{
    grid-area: subcontainer3;
    background-color: lightpink;
}