* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  padding: 10px;
  width: 100vw;
  height: 100vh;
  border: 1px solid grey;
  background-color: rgb(148, 46, 46);
}

.containerItems {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto auto;

  grid-template-areas:
    "one   one   two"
    "three four  four"
    "five  five  five";
}


.firstContainer {
  grid-area: one;
  background-color: rgb(246, 179, 107);
}
.secondContainer {
  grid-area: two;
  background-color: lightblue;
}
.thirdContainer {
  grid-area: three;
  background-color: lightgreen;
}
.fourthContainer {
  grid-area: four;
  background-color: lightcoral;
}
.fifthContainer {
  grid-area: five;
  background-color: lightsalmon;
}
